<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.recipe.android.recipeapp">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Image Picker -->
    <!-- Image Picker -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeApp">

        <activity android:name=".src.receipt.ReceiptActivity"/>
        <activity
            android:name=".src.search.publicRecipe.recipeDetail.RecipeDetailActivity"
            android:theme="@style/Theme.RecipeApp.NoActionBar" /> <!-- 스플래시 -->

        <!-- 스플래시 -->
        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 메인 -->
        <activity android:name=".src.MainActivity" />

        <!-- 로그인 -->
        <activity android:name=".src.signIn.SignInActivity" />

        <!-- 냉장고 - 재료 선택 -->
        <activity android:name=".src.fridge.pickIngredient.PickIngredientActivity" />
        <activity android:name=".src.fridge.basket.BasketActivity" />
        <activity android:name=".src.fridge.addDirect.AddDirectActivity" />
        <activity
            android:name=".src.fridge.dialog.DateDialog"
            android:theme="@style/dialogTheme" />



        <!-- 카카오 로그인 -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_API_KEY}" />
            </intent-filter>
        </activity> <!-- 마이페이지 -->
        <activity android:name=".src.setting.SettingActivity" />
        <activity
            android:name=".src.setting.dialog.DeleteIdDialog"
            android:theme="@style/dialogTheme" /> <!-- 나만의 레시피 -->
        <activity android:name=".src.myRecipe.MyRecipeActivity" />
        <activity
            android:name=".src.myRecipe.myRecipeCreate.MyRecipeCreateActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".src.myRecipe.myRecipeDetail.MyRecipeDetailActivity" />
        <activity
            android:name=".src.myRecipe.myRecipeModify.MyRecipeModifyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".src.myRecipe.myRecipeDetail.dialog.MyRecipeDeleteDialog"

            android:theme="@style/dialogTheme" /> <!-- 스크랩 레시피 -->


        <!-- 스크랩 레시피 -->
        <activity android:name=".src.scrapRecipe.ScrapRecipeActivity" />

    </application>

</manifest>